.WhydatainsiderWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top:100px;
    margin-bottom: 60px;
}
.WhydatainsiderText{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.WhydatainsiderGrid{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    
}
.WhydatainsiderGridItem{
    display: flex;
    padding: 15px;
}

.WhydatainsiderGridItemIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.WhydatainsiderGridItemIcon span{
    font-size: 35px;
    font-weight: bold;
    color: #009ADA;
}
.WhydatainsiderGridItemContent{
    margin-left: 15px;
}
.WhydatainsiderGridItemContent h1{
    font-size: 18px;
    font-weight: bold;
}
.WhydatainsiderGridItemContent2 h1{
    font-size: 25px;
    font-weight: bold;
}
@media (max-width: 707px) {
    .WhydatainsiderGrid{
        grid-template-columns: 1fr;
    }
  }

  .TextAndImageButtonWrapper{
    display: flex;
    justify-content: center;
}
.TextAndImageButton{
    font-weight: bold;
    margin: 15px 15px;
    color: white;
    background-color:#009ADA ;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    transition: all ease 0.4s;
}
.TextAndImageButton:hover{
    transition: all ease 0.4s;
    background-color: transparent;
    color: #009ADA;

}

.ImplementationExplanationComponentWrapper{
    margin: 50px 20px;
}